{% extends 'base.html' %}
{% block content %}
   <form method="POST">
      {% csrf_token %}

      <div>
         タスク名：{{ form.title }}  <!-- タイトル -->
     </div>
     <span id="title_error" style="color:red; display:none;">タイトルがすでに存在します。</span>
      <!-- デフォルト(title空白)がdisplay:none -->
      
      <div>
         説明：{{ form.description }}  <!-- 詳細説明 -->
      </div>
     
      <div>
      期限：{{ form.expiry }} 
      <span id="calendar-icon">📅</span> <!-- カレンダーアイコン -->
      </div>

     <script>
      $(document).ready(function () {
          $(".datepicker").datepicker({
              dateFormat: "yy-mm-dd",
              minDate: 0 // 今日以降の日付のみ選択可能
          });
  
          $("#calendar-icon").click(function () {
              $(".datepicker").focus(); // アイコンをクリックしたら入力欄にフォーカス
          });
      });
  </script>
      
      <input type="submit" value="タスク登録">

      <div>
      <a class="navbar-brand" href="{% url 'todo:task_list' %}">戻る</a>
      </div>
   </form>

   <script>
   document.getElementById('id_title').addEventListener('input', function() {
      var title = this.value;
      
      if (title) {
            // サーバーにタイトルの重複を確認するリクエストを送信
         fetch(`/todo/check_title/?title=${encodeURIComponent(title)}`)
                 // check_titleでviews.pyの関数を呼び出している
                 //ユーザーが入力したタイトルをサーバーに送って、そのタイトルがすでに存在するかどうかを確認する
                 //encodeURIComponentはhtmlとして適切な形にtitleを変換するという意味
                 //クエリパラメータとはwebサーバーに情報を伝えるためにURLに付加する文字列
                 //基本構造は「?」+「変数名(title)」+「=」+「変数の値」で、複数のパラメータがある場合は「&」でつなげる
               .then(response => response.json())  // サーバーから返ってきたデータをJSON形式に変換して、次の処理に渡す
               .then(data => { //サーバーから返ってきたデータ（data）を使って、エラー表示の処理をする//
                  const errorSpan = document.getElementById('title_error');
                  //エラーメッセージを表示するためのHTML要素を取得して変数に保存する//
      
                     // サーバーが `data.exists` を True で返した場合（タイトルが重複している）
                  if (data.exists) {
                        errorSpan.style.display = 'block';} // existsがtrue(同一データ有)ならエラー表示
                     else{ 
                        errorSpan.style.display = 'none';}  // エラー非表示
                     
                  })
                  .catch(error => console.error('Error:', error));  // エラー処理
         }
      });
      </script>
      
   {% endblock %}