    {% extends 'base.html' %}

    {% block content %}
    <h1>TODO LIST</h1>

    <form method="get" action="{% url 'todo:task_list' %}">
        <!-- フォーム内容がここに入る -->
    </form>
    

    <form method="get" action="{% url 'todo:task_list' %}">
        <input type="text" name="keyword" placeholder="タイトルまたは説明で検索" value="{{ request.GET.keyword }}">
        <button type="submit">検索</button><br>
    </form>


    <div>
    <a href="?sort=-created_at">新しい順</a>| 
    <a href="?sort=created_at">古い順</a>| 
    <a href="?sort=due_date">期限順</a> 
    </div>

<div>
    <table class="table table-striped table-bordered">
    <thead>
        <tr>
        <th>タスク名</th>
        <th>期限</th>
        <th>編集</th>
        <th>削除</th>
        </tr> 
    </thead>        
    <tbody>
    {% for task in tasks %}
        <tr>
        <td><a href="{% url 'todo:task_detail' pk=task.id %}">{{ task.title }}</a></td>
        <td>{{ task.expiry }}</td>
        <td><a href="{% url 'todo:task_update' pk=task.id %}" class="btn btn-info">編集</a></td>
        <td><a href="{% url 'todo:task_delete' pk=task.id %}" class="btn btn-danger">削除</a></td>
        </tr>
    {% endfor %} 
    </tbody>
    </table>
</div>
    {% endblock %}      