{% extends 'base.html' %}
{% block content %}
<h1>TODO Detail</h1>

<form method="GET"
    {% csrf_token %}
    {{ form.as_p }}>
</form>

<table class="table table-striped table-bordered">
<tbody>
    <div>
        <th>タスク名: {{ object.title }}</th>
        <th>説明: {{ object.description }}</th>
        <th>期限: {{object.expiry }}</th>
    </div>
</tbody>
</table>

<tbody>
    <tr>    
        <th><a href="{% url 'todo:task_update' pk=task.id %}" class="btn btn-info">編集</a></th>
        <th><a href="{% url 'todo:task_delete' pk=task.id %}" class="btn btn-danger">削除</a></th>
        <th><a class="navbar-brand" href="{% url 'todo:task_list' %}">戻る</a></th>
    </tr> 
</tbody>

{% endblock %}