<!DOCTYPE html>
<html lang="ja">
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <style>
         .navbar-brand {
            margin-bottom: 10px;  /* リンクの間にスペースを追加 */
         }
      </style>
   </head>
   <body>
        Todoアプリ
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="{% url 'todo:home' %}">ホーム</a>
            <a class="navbar-brand" href="{% url 'todo:task_list' %}">todoリスト</a>
            <a class="navbar-brand" href="{% url 'todo:regist_task' %}">task作成</a>
        </nav>

        <!-- ナビゲーションとコンテンツの間に余白を追加 -->
        <div style="margin-top: 20px;">
            {% block content %}{% endblock %}
        </div>
   </body>
</html>